<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		h1   {
			color: blue;
			text-align: center;
		}
	</style>
	<title>CV de {firstname} {name}</title>
</head>
<body>
	<h1>CV pour {firstname} {name}</h1>
	<p>Nom: {name}</p>
	<p>Prenom: {firstname}</p>
	</br>
	<p>Age: {age}</p>
	<p>Profession: {profession}</p>
</body>
</html>
